vlan {{ s_tag }}
  name {{ service_key }}

Interface {{ interface }}
   switchport trunk allowed vlan add {{ s_tag }}
   switchport vlan translation {{ vlan }} dot1q-tunnel {{ s_tag }}

interface Vxlan1
   vxlan vlan {{ s_tag }} vni {{ service_vni }}

router bgp {{ asn }}
   vlan-aware-bundle {{ service_key }}
      rd 37195:{{ service_vni }}
      route-target both 37195:{{ service_vni }}
      redistribute learned
      redistribute static
      vlan {{ s_tag }}
